QTableView {
    background-color: #131722;
    color: white;
}

QTableView QTableCornerButton::section {
    background: black;
}

QLineEdit lineEdit{
}

QLineEdit:hover {
  background-color: rgba(42, 130, 218, 0.23) ;
}


